.wrapper
{
	overflow: auto;
}

body
{
	background-color:#bfbfbf;
	margin:0;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 100%;
}

#wrapper{
	display:flex;
}
#main {
	margin-left: 216px;
	background-color:white;
	border-radius:2px;
	padding:5%;
	
}

#leftsidebar {
    float: center;
	width: 200px; 
    position: fixed;
    background-color: #333333;
	border-radius:3px;
	color:grey
}



#menulist {
    margin: 0;
    padding: 0;
}

.menuitem {
    
    list-style-type: none;
    padding: 5px;
	text-align:center;
}

.menuitem:hover
{
	background-color:#999999;
}



@media screen and (max-width: 480px) {
	.menuitem{display:inline;}
	#leftsidebar{width:100%; border-radius:0; }
	#menulist{ display:flex; justify-content:center; }
	.menuitem{padding: 5px 15px;}
	#main{margin-left:0;}
}









.footer
{
	display: block;
    background-color:#333333;
	color:white;
    
    padding: 14px 16px;
    text-decoration: none;
    

}

.textFooter
{
	text-decoration: none;
	color:white;
	text-align:right;
}

.imageFooter
{
	text-align:center;
	width:10%;
    padding-left: 45%;
}

.center
{
	text-align:center;
}