
@media screen and (max-width: 1025px) {
	.menuitem{display:inline;}
	#leftsidebar{width:100%; border-radius:0; }
	#menulist{ display:flex; justify-content:center; }
	.menuitem{padding: 5px 15px;}
	#main{margin-left:0;}
	.post{width:100%; text-align:center;}
	.legende{ background-color: #e6e6e6;}
	h3{background-color: #e6e6e6; }
	h2 {background-color: #d9d9d9;}
	body{font-size:4vw;}
	p{font-size:4vw;}
}

